.Resp-carousel-item  {
    padding: 20px 10px;
    min-width: 188px;
    background-color: white;
}

.Resp-carousel-item .my-card h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
}


@media(max-width: 962px) {
    .Resp-carousel-item .my-card h1 {
        font-size: 12px;
        line-height: 14.57px;
    }
}
.Resp-carousel-item .description {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    margin-bottom: 0;
}
.Resp-carousel-item .description p {
    margin-bottom: 0;
}

@media(max-width: 962px) {
    .Resp-carousel-item .description{
        font-size: 7.22px;
        line-height: 8.74px;
    }
}