
.cards{
    position: relative;
}


.gab-5{
    gap: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardcom{
    position: relative;
    width: 241px!important;
    height: 233px!important;
    padding: 0;   
}
.mt5{
    margin-top: 5rem!important;
}
.cardimg{
    position: absolute;
    width: 180px!important;
    height: 180px!important;
    border-radius: 50%;
    bottom: 70%;
    left: 10%;

}
.carddown{
    
    padding: 40% 0 20% 0;
    border-radius: 20px;
    background-color:  #fcf5f7;
    width: 100%!important;
    color: black;
    font-size: 10px;
    text-align: center;
}
.carddown .detils{
    gap: 4rem;
    margin-left: 0.1rem;
    justify-content: center;
    align-items: center;
}
.carddown .detils ul li .gray{
    color: rgb(170, 169, 169);
}
.carddown .detils ul{
    padding: 0;
}
.carddown li{
    list-style-type: none;
    margin-top:5px;
    font-size: 12px;
    font-weight: 500;
}
.carddown ul .rate{
    padding-left: 42%;

}
.carddown ul .Calories{
    padding-left: 20%;
}
.carddown h2{
    color: black;
}
.carddown span{
    font-size: 10px;
}
.carddown .title{
    font-size: 16px;
    font-weight: 500;
}


.carddown .quantity{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 28px;
    height: 67px;
    border-radius: 20px;
    color: white;
    background-color: black;

}
.carddown .quantity .plus{
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
}
.btncard{
    width: 43.87755102040816%!important;
    height: 29px!important;
    border-radius: 20px;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid black;
}
.btns{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}
.btns .price{
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
}
.red{
    gap: 0.5rem;
    margin-bottom: 0px;
    position: absolute;
    bottom: -37px;
}
.red span{
    background-color: #E4002B;
    width: 5.19px;
    height: 26.71px;

}