.card-meaningful{
    background-color: #F3F3F3;
    border-radius: 20px;
    width: 313px;
    height: 206px;
    padding: 1rem;
}
.title{
    align-items: center;
    
}
.card-meaningful p{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #00000059;
}
.card-meaningful h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.white{
    background-color: red;
}