h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    
}
.carousel{
    border: 1px solid gray;
    margin: 1rem;
    overflow: hidden;
    border-radius: 10px;
    border-style: dashed;
    cursor: grab;
    gap: 2rem;
    padding: 1rem;
}
.carousel ul li button{
    background-color: rgb(163, 36, 36)!important;
}
