.main{
    display: flex;
    justify-content: end;
}
.Kentucky{
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 297px;

}
.Kentucky p{
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin-top: 5rem;
}
.imgk{
    width: 25px;
    height: 30px;
}