.my-header {
    padding-top: var(--section-padding-top);
    font-weight: 600;
    font-size: 48px !important;
    line-height: 71.14px;
    width: 100%;
    margin: 0;
    text-align: center;
    color: var(--dark-header-color);
    text-transform: capitalize;
}

@media(max-width : 508px) {
    .my-header {
        text-align: start;
        font-size: 20px !important;
        font-weight: 700;
        line-height: 30px;
        padding: 32px 0 25px 4.1%;
    } 
}