.Culture {
    position: relative;
}

.Culture-info {
    background-color: #eee;
    padding: 44px 58px; 
}

.Culture-info h2 {
    max-width: 40%;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
}

.Culture-info p {
    margin-top: 30px;
    text-align: center;

}

.Culture .img-culture {
    position: absolute;
    top: 3rem;
    right: 0;
    transform: rotate(16deg);
}

.Culture .img-culture img {
    border-radius: 20px;
}
@media(max-width : 668px) {
    .Culture-info {
        padding-bottom: 312px;
    }
    .Culture-info h2 {
        width: 100%;
        max-width: max-content;
    }
    .Culture-info p {
        position: absolute;
        max-width: 229px;
        text-align: start;
        right: 0;
    }
    .Culture .img-culture {
        top: 250px;
        transform: rotate(-32deg);
        left: 100px;
        width: 150px;
        height: 200px;
    }
    .Culture .img-culture img {
        width: 100%;
    }

}
@media(max-width : 485px) {
    .Culture .img-culture {
        left: 50px;
        top: 300px;
    }
}

@media(max-width : 437px) {
    .Culture .img-culture {
        top: 400px;
        
    }
}
@media(max-width : 394px) {
    .Culture .img-culture {
        top: 450px;
        
    }
}

@media(max-width : 356px) {
    .Culture .img-culture {
        top: 500px;
        
    }
}

@media(max-width : 319px) {
    .Culture .img-culture {
        top: 550px;
    }
}
@media(max-width : 300px) {
    .Culture .img-culture {
        display: none;
    }
    .Culture-info {
        padding-bottom: 150px;
    }
}