.carousel-item {
    display: inline-flex;
}

.left-section{
    width: 37.629vw;
}
.left-section .title {
    margin: 20.484171% 13.715953% 0 14.494163%;
    padding: 0;
    font-weight: 400;
    font-size: 42px;
    line-height: 50.83px;
}
.left-section .desc {
    margin: 2.048417% 13.715953% 0 14.494163% ;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
}
.left-section .my-btn {
    display: block;
    width: max-content;
    margin: 6.1769% auto 28.677839%;
    padding: 12px;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 20px;
    color: #000000;
}
.right-section {
    flex: 1;
}
