@media(max-width: 993px) {
    .my-card {
        /* max-width: 100%; */
    }
}
.my-card .card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.my-card .card-info h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36.31px;
}
.my-card .card-info h1 {
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 38px;
    line-height: 54.99px;

}
.my-card .card-info p {
    font-size: 12px;
}
.my-card .img-card {
    /* flex : 1 ; */
    /* width: max-content; */
}
.img-card img {
    border-radius: 20px;
    width: fit-content;
    border-radius: 20px;
}
@media(max-width : 899px) {
    .my-card .img-card img{
        /* width: 95px; */
        /* height: 108px; */
        /* display: none; */
        /* border-radius: 100px; */
        /* position: absolute; */
        /* top: 100%; */
    }
}
@media(max-width: 962px) {
    .my-card .img-card img {
        width: 65.3px;
        height: 85px;
    }
}
/* @media(max-width:576px) {
    .my-col {
        text-align: center;
    }
} */